// Mirrored from demo.interface.club/limitless/layout_1/LTR/index.html by HTTrack Website Copier/3.x [XR&CO"2014], Tue, 27 Oct 2015 10:29:46 GMT
// Added by HTTrack
meta(http-equiv="content-type", content="text/html;charset=UTF-8")
// /Added by HTTrack
head
    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
        title Maiz 1

    // Global stylesheets
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900", rel="stylesheet", type="text/css")
    link(href="{{ route('cerebelo.index') }}/css/cerebelo/layout.css", rel="stylesheet", type="text/css")
    link(href="{{ route('cerebelo.index') }}/css/cerebelo/custom.css", rel="stylesheet", type="text/css")
    block theme-css-files


    // Core JS files
    script(src="{{ route('cerebelo.index') }}/js/cerebelo/layout.js")
    script(src="{{ route('cerebelo.index') }}/js/cerebelo/vue/vue.js")
    // /core JS files

    // Theme JS files
    block theme-js-files
        script(src="{{ route('cerebelo.index') }}/js/cerebelo/pages/dashboard.js")
    // /theme JS files
    
    // Core JS files
    script(type='text/javascript', src='assets/js/plugins/loaders/pace.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jquery.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/bootstrap.min.js')
    script(type='text/javascript', src='assets/js/plugins/loaders/blockui.min.js')
    // /core JS files