// Main sidebar
.sidebar.sidebar-main.bg-blue-800
  .sidebar-content
    // User menu
    .sidebar-user
      .category-content
        .media
          a.media-left(href="#")
            img.img-circle.img-sm(src="{{ route('cerebelo.index') }}/assets/images/logo-maiz1.png", alt="")
          .media-body
            span.media-heading.text-semibold Maiz 1
            .text-size-mini.text-muted
              i.icon-pin.text-size-small
              |   Juiz de Fora, MG
    // /user menu
    // Main navigation
    #sidebar-menu.sidebar-category.sidebar-category-visible
      .category-content.no-padding
        ul.navigation.navigation-main.navigation-accordion
          // Main
          li.pl-5.pr-5.pb-5
            .form-group.has-feedback
              input.form-control(type="text", placeholder="" v-model="searchText")
              .form-control-feedback
                i.icon-search4.text-size-base
            ul
              li(v-repeat="users | filterBy searchText") ((name))
          li.active
            a(href="index.html")
              i.icon-home4
              span Dashboard
          // /Principal
          // Menu
          li.navigation-header
            span.text-orange-300 MENU
            i.icon-menu(title="Main pages")
          li
            a(href="{{ route('cerebelo.index') }}/registro-visitas")
              i.icon-users4.text-orange-300
              span Registro de Visitas
          li
            a(href="{{ route('cerebelo.index') }}/usuarios-bloqueados")
              i.icon-lock2.text-orange-300
              span Usuários Bloqueados
          li
            a(href="{{ route('cerebelo.index') }}/financeiro")
              i.icon-calculator3.text-orange-300
              span Financeiro
              
          li.navigation-header
            span.text-orange-300 MENU Fábio
            i.icon-menu(title="Main pages")
          li
            a(href="{{ route('cerebelo.index') }}/cadastro-parceiros")
              i.icon-office.text-orange-300
              span Cad. de Parceiro/Categoria
          li
            a(href="{{ route('cerebelo.index') }}/cadastro-alunos")
              i.icon-graduation2.text-orange-300
              span Cadastro de Aluno/Fundo
          li
            a(href="{{ route('cerebelo.index') }}/transacoes")
              i.icon-lan3.text-orange-300
              span Transações
          li
            a(href="{{ route('cerebelo.index') }}/relatorios")
              i.icon-file-download2.text-orange-300
              span Relatórios
          li
            a(href="{{ route('cerebelo.index') }}/administrar-aplicativo")
              i.icon-mobile2.text-orange-300
              span Administrar Aplicativo
          li
            a(href="{{ route('cerebelo.index') }}/mensagens")
              i.icon-bubbles3.text-orange-300
              span Mensagens
          li
            a(href="{{ route('cerebelo.index') }}/retiradas")
              i.icon-coin-dollar.text-orange-300
              span Retiradas
    
          
          // /Menu
          // Fornecedores
          //li.navigation-header
          //  span.text-blue-300 Fornecedores
          //  i.icon-menu(title="Fornecedores")
          //li
          //  a(href="fornecedores.html")
          //    i.icon-users2.text-blue-300
          //    span Fornecedores
          //// /Fornecedores
          //
          //// Financeiro
          //li.navigation-header
          //  span.text-green-300 Financeiro
          //  i.icon-menu(title="Financeiro")
          //li
          //  a(href="contas_a_pagar.html")
          //    i.icon-cash3.text-green-300
          //    span Contas a Pagar
          //li
          //  a(href="contas_a_receber.html")
          //    i.icon-piggy-bank.text-green-300
          //    span Contas a Receber
          //li
          //  a(href="fluxo_de_caixa.html")
          //    i.icon-chart.text-green-300
          //    span Caixa
          //li
          //  a(href="#")
          //    i.icon-safe.text-green-300
          //    span Configurações Financeiras
          //    ul
          //      li
          //        a(href="contas_bancarias.html") Contas Financeiras
          //      li
          //        a(href="planos_de_contas.html") Planos de Contas
          //      li
          //        a(href="tipos_de_boletos.html") Configurar Boletos
          //// /Financeiro
          //
          //// Recursos Humanos
          //li.navigation-header
          //  span.text-warning-300 Recursos Humanos
          //  i.icon-menu(title="Recursos Humanos")
          //li
          //  a(href="funcionarios.html")
          //    i.icon-users4.text-warning-300
          //    span Funcionários
          //li
          //  a(href="remuneracao_beneficios.html")
          //    i.icon-users4.text-warning-300
          //    span Remuneração e Benefícios
          //// /Recursos Humanos
          //// Relatórios
          //li.navigation-header
          //  span.text-info-300 Relatórios
          //  i.icon-menu(title="Relatórios")
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 01
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 02
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 03
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 04
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 05
          //// /Relatórios
          //// Configurações
          //li.navigation-header
          //  span.text-danger-300 Sistema
          //  i.icon-menu(title="Relatórios")
          //li
          //  a(href="configuracoes_cliente.html")
          //    i.icon-cog4.text-danger-300
          //    span Configurações do Cliente
          //li
          //  a(href="suporte.html")
          //    i.icon-help.text-danger-300
          //    span Suporte
          // /Configurações
    // /main navigation
// /main sidebar
