// Main navbar
.navbar.bg-blue-700
  .navbar-header
    a.navbar-brand(href="index.html")
      img(src="{{ route('cerebelo.index') }}/assets/images/logo_cerebelo.png", alt="")
    ul.nav.navbar-nav.visible-xs-block
      li
        a(data-toggle="collapse", data-target="#navbar-mobile")
          i.icon-tree5.text-white
      li
        a.sidebar-mobile-main-toggle
          i.icon-paragraph-justify3
  #navbar-mobile.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a.sidebar-control.sidebar-main-toggle.hidden-xs
          i.icon-paragraph-justify3
    ul.nav.navbar-nav.navbar-right
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-bubbles4
                span.visible-xs-inline-block.position-right Messages
                span.badge.bg-warning-400 2
            .dropdown-menu.dropdown-content.width-350
                .dropdown-content-heading
                    | Messages
                    ul.icons-list
                        li
                            a(href='#')
                                i.icon-compose
                ul.media-list.dropdown-content-body
                    li.media
                        .media-left
                            img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                            span.badge.bg-danger-400.media-badge 5
                        .media-body
                            a.media-heading(href='#')
                                span.text-semibold James Alexander
                                span.media-annotation.pull-right 04:58
                            span.text-muted who knows, maybe that would be the best thing for me...
                    li.media
                        .media-left
                            img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                            span.badge.bg-danger-400.media-badge 4
                        .media-body
                            a.media-heading(href='#')
                                span.text-semibold Margo Baker
                                span.media-annotation.pull-right 12:16
                            span.text-muted That was something he was unable to do because...
                    li.media
                        .media-left
                            img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                        .media-body
                            a.media-heading(href='#')
                                span.text-semibold Jeremy Victorino
                                span.media-annotation.pull-right 22:48
                            span.text-muted But that would be extremely strained and suspicious...
                    li.media
                        .media-left
                            img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                        .media-body
                            a.media-heading(href='#')
                                span.text-semibold Beatrix Diaz
                                span.media-annotation.pull-right Tue
                            span.text-muted What a strenuous career it is that I've chosen...
                    li.media
                        .media-left
                            img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                        .media-body
                            a.media-heading(href='#')
                                span.text-semibold Richard Vango
                                span.media-annotation.pull-right Mon
                            span.text-muted Other travelling salesmen live a life of luxury...
                .dropdown-content-footer
                    a(href='#', data-popup='tooltip', title='All messages')
                        i.icon-menu.display-block

        li.dropdown.dropdown-user
            a.dropdown-toggle.text-white(data-toggle="dropdown",)
              img(src="{{ route('cerebelo.index') }}/assets/images/demo/users/face11.jpg", alt="")
              span Victoria
              i.caret
            ul.dropdown-menu.dropdown-menu-right
              li
                a(href="#")
                  i.icon-cog5
                  |  Configurações da Conta
              li
                a(href="#")
                  i.icon-switch2
                  |  Logout
// /main navbar
