breadcrumb.page-header
    .page-header-content
        .page-title
            h4
                i.icon-arrow-left52.position-left
                block page-title
                    span.text-semibold Home
                    |  - Dashboard
    .breadcrumb-line
        ul.breadcrumb
            block breadcrumb
                li
                    a(href="index.html")
                        i.icon-home2.position-left
                        |  Home
                li.active Dashboard