extends ./layout.pug

block title
    title Menu - Adicionar Parceiro

block page-title
    span.text-semibold Menu
    |  - Adicionar Parceiro

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Adicionar Parceiro

block content
    .row
        .col-lg-6
            .panel.panel-flat
                .panel-body
                    fieldset.content-group

                        legend.text-bold Selecionar Categoria
                        .row
                            .col-md-6
                                .form-group
                                    label Categoria
                                    select.select(data-placeholder='Categoria')
                                        option
                                            option(value='AZ', selected='selected') Categoria
                                            option(value='CO') Categoria
                                            option(value='ID') Categoria
                                            option(value='WY') Categoria
                                            
                        legend.text-bold Valor de Contrato
                        .row
                            .col-md-6
                                .form-group
                                    label Valor de contrato
                                    input.form-control.input-lg(type='text', placeholder='Valor de contrato')
                            .col-md-6
                                .form-group
                                    label Pontos por leitura
                                    input.form-control.input-lg(type='text', placeholder='Pontos por leitura')
                                    
                        legend.text-bold Dados do Parceiro
                        .row
                            .col-md-6
                                .form-group
                                    label CNPJ
                                    input.form-control.input-lg(type='text', placeholder='CNPJ')
                            .col-md-6
                                .form-group
                                    label Nome
                                    input.form-control.input-lg(type='text', placeholder='Nome Fantasia')
                            .col-md-4
                                .form-group
                                    label Tel
                                    input.form-control.input-lg(type='text', placeholder='Tel')
                            .col-md-4
                                .form-group
                                    label Tel (2)
                                    input.form-control.input-lg(type='text', placeholder='Tel (2)')
                            .col-md-4
                                .form-group
                                    label Email
                                    input.form-control.input-lg(type='text', placeholder='Email')



                        legend.text-bold Endereço do Parceiro
                        .row
                            .col-md-4
                                .form-group
                                    label CEP
                                    input.form-control.input-lg(type='text', placeholder='CEP')
                            .col-md-6
                                .form-group
                                    label Logradouro
                                    input.form-control.input-lg(type='text', placeholder='Logradouro')
                            .col-md-2
                                .form-group
                                    label Número
                                    input.form-control.input-lg(type='text', placeholder='Número')
                            .col-md-4
                                .form-group
                                    label Complemento
                                    input.form-control.input-lg(type='text', placeholder='Complemento')
                            .col-md-4
                                .form-group
                                    label Bairro
                                    input.form-control.input-lg(type='text', placeholder='Bairro')
                            .col-md-4
                                .form-group
                                    label Cidade
                                    input.form-control.input-lg(type='text', placeholder='Cidade')
                            .col-md-4
                                .form-group
                                    label Estado
                                    input.form-control.input-lg(type='text', placeholder='Estado')
                                    
                                    
                        legend.text-bold Latitude e Longitude
                        .row
                            .col-md-6
                                .form-group
                                    label Latitude
                                    input.form-control.input-lg(type='text', placeholder='Latitude')
                            .col-md-6
                                .form-group
                                    label Longitude
                                    input.form-control.input-lg(type='text', placeholder='Longitude')


                    .text-right
                        button.btn(type='button')
                          i.icon-qrcode.position-left
                          |  Gerar Qrcode
                          
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Parceiro
                          
                          
        .col-lg-6
            .panel.panel-flat
                .panel-body
                    fieldset.content-group

                        legend.text-bold Criar Categoria
                        
                        .row
                            .col-md-6
                                .form-group
                                    label Nome
                                    input.form-control.input-lg(type='text', placeholder='Nome')
                                    
                        .text-right
                            button.btn.btn-primary(type='button')
                              i.icon-import.position-left
                              |  Salvar Categoria



                        legend.text-bold Lista Categorias
                        table.table.text-nowrap
                            tbody
                                tr
                                    td
                                        .media-heading
                                            letter-icon-title Nome Categoria
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-pencil7
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-cross2
                                tr
                                    td
                                        .media-heading
                                            letter-icon-title Nome Categoria
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-pencil7
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-cross2