extends ./layout.pug

block title
    title Menu - Adicionar Aluno

block page-title
    span.text-semibold Menu
    |  - Adicionar Aluno

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Adicionar Aluno

block content
    .row
        .col-lg-6
            .panel.panel-flat
                .panel-body
                    fieldset.content-group
                    
                        .text-right
                            button.btn.btn-success(type='button')
                              i.icon-file-excel.position-left
                              |  Importar
                                    
                        legend.text-bold Dados do Aluno
                        .row
                            .col-md-6
                                .form-group
                                    label Nome
                                    input.form-control.input-lg(type='text', placeholder='Nome')
                            .col-md-6
                                .form-group
                                    label CPF
                                    input.form-control.input-lg(type='text', placeholder='CPF')
                            .col-md-4
                                .form-group
                                    label Tel
                                    input.form-control.input-lg(type='text', placeholder='Tel')
                            .col-md-4
                                .form-group
                                    label Tel (2)
                                    input.form-control.input-lg(type='text', placeholder='Tel (2)')
                            .col-md-4
                                .form-group
                                    label Email
                                    input.form-control.input-lg(type='text', placeholder='Email')



                        legend.text-bold Endereço do Aluno
                        .row
                            .col-md-4
                                .form-group
                                    label CEP
                                    input.form-control.input-lg(type='text', placeholder='CEP')
                            .col-md-6
                                .form-group
                                    label Logradouro
                                    input.form-control.input-lg(type='text', placeholder='Logradouro')
                            .col-md-2
                                .form-group
                                    label Número
                                    input.form-control.input-lg(type='text', placeholder='Número')
                            .col-md-4
                                .form-group
                                    label Complemento
                                    input.form-control.input-lg(type='text', placeholder='Complemento')
                            .col-md-4
                                .form-group
                                    label Bairro
                                    input.form-control.input-lg(type='text', placeholder='Bairro')
                            .col-md-4
                                .form-group
                                    label Cidade
                                    input.form-control.input-lg(type='text', placeholder='Cidade')
                            .col-md-4
                                .form-group
                                    label Estado
                                    input.form-control.input-lg(type='text', placeholder='Estado')
                                    
                                    
                        legend.text-bold Dados para pontuação
                        .row
                            .col-md-6
                                .form-group
                                    label Instituição
                                    select.select(data-placeholder='Instituição')
                                        option
                                            option(value='AZ', selected='selected') Instituição
                                            option(value='CO') Instituição
                                            option(value='ID') Instituição
                                            option(value='WY') Instituição
                            .col-md-6
                                .form-group
                                    label Nome do Fundo de Formatura
                                    select.select(data-placeholder='Nome do Fundo de Formatura')
                                        option
                                            option(value='AZ', selected='selected') Fundo
                                            option(value='CO') Fundo
                                            option(value='ID') Fundo
                                            option(value='WY') Fundo
                                            
                            .col-md-6
                                .form-group
                                    label Forma de pagamento
                                    select.select(data-placeholder='Forma de pagamento')
                                        option
                                            option(value='AZ', selected='selected') Mensalidade
                                            option(value='CO') Fundo individual
                                            option(value='ID') Fundo comum


                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Aluno
                          
                          
        .col-lg-6
            .panel.panel-flat
                .panel-body
                    fieldset.content-group
                    
                        .text-right
                            button.btn.btn-success(type='button')
                              i.icon-file-excel.position-left
                              |  Importar

                        legend.text-bold Criar Fundo de Formatura
                        
                        .row
                            .col-md-4
                                .form-group
                                    label Responsável
                                    select.select.select-multiple-tags.select-multiple-limited(data-placeholder='Responsável')
                                        option
                                            option(value='AZ', selected='selected') Responsável
                                            option(value='CO') Responsável
                                            option(value='ID') Responsável
                                            option(value='WY') Responsável
                                                
                            .col-md-4
                                .form-group
                                    label Recolhimento do fundo
                                    select.select.select-multiple-tags.select-multiple-limited(data-placeholder='Recolhimento do fundo')
                                        option
                                            option(value='AZ', selected='selected') Individual
                                            option(value='CO') Comum
                                                
                            .col-md-4
                                .form-group
                                    label Data Fim
                                    input.form-control(type='text', placeholder='Data Fim')
                                                
                            .col-md-6
                                .form-group
                                    label Instituição
                                    select.select.select-multiple-tags.select-multiple-limited(multiple='multiple', data-placeholder='Nome do Fundo de Formatura')
                                        option
                                            option(value='AZ', selected='selected') Instituição
                                            option(value='CO') Instituição
                                            option(value='ID') Instituição
                                            option(value='WY') Instituição
                            
                            .col-md-6
                                .form-group
                                    label Nome do Fundo de Formatura
                                    select.select.select-multiple-tags(multiple='multiple', data-placeholder='Nome do Fundo de Formatura')
                                        option
                                            option(value='AZ', selected='selected') Nome do Fundo de Formatura
                                            option(value='CO') Nome do Fundo de Formatura
                                            option(value='ID') Nome do Fundo de Formatura
                                            option(value='WY') Nome do Fundo de Formatura
                                    
                        .text-right
                            button.btn.btn-primary(type='button')
                              i.icon-import.position-left
                              |  Salvar Fundo



                        legend.text-bold Lista de Fundos
                        table.table.text-nowrap
                            thead
                                tr
                                    th.col-lg-3 Identificação/Data
                                    th.col-lg-3 Data Fim
                                    th.col-lg-3 Recolhimento
                                    th Editar
                                    th Excluir
                            tbody
                                tr
                                    td
                                        .media-heading
                                            letter-icon-title Nome do Fundo
                                        .text-muted.text-size-small
                                            |  01/01/2017
                                    td
                                        .form-group
                                            input.form-control.input-lg(type='text', placeholder='Data Fim')
                                    td
                                        .form-group
                                            select.select(data-placeholder='Fundo')
                                                option
                                                    option(value='AZ', selected='selected') Fundo
                                                    option(value='CO') Fundo
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-pencil7
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-cross2
                                tr
                                    td
                                        .media-heading
                                            letter-icon-title Nome do Fundo
                                        .text-muted.text-size-small
                                            |  01/01/2017
                                    td
                                        .form-group
                                            input.form-control.input-lg(type='text', placeholder='Data Fim')
                                    td
                                        .form-group
                                            select.select(data-placeholder='Fundo')
                                                option
                                                    option(value='AZ', selected='selected') Fundo
                                                    option(value='CO') Fundo
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-pencil7
                                    td.col-lg-1.text-center
                                        a(href='#')
                                            i.icon-cross2