extends ./layout.pug

block title
    title Menu - Administrar aplicativo

block page-title
    span.text-semibold Menu
    |  - Administrar aplicativo

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Administrar aplicativo

block content
    .row
        .col-lg-6
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Quem Somos
                                
                .panel-body
                    .form-group
                        textarea.form-control(rows='5', cols='5', placeholder='Texto')
                    
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar
                          
        .col-lg-6
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Política de Privacidade
                                
                .panel-body
                    .form-group
                        textarea.form-control(rows='5', cols='5', placeholder='Texto')
                    
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar
                          
        .col-lg-6
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Logos de Parceiros
                                
                .panel-body
                    .row
                        .col-md-6
                            .form-group
                                label Nome
                                input.form-control.input-lg(type='text', placeholder='Nome')
                        .col-md-6
                            .form-group
                                label Logo
                                input.file-styled(type='file')
                                
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar
                                
                    legend.text-bold Lista Logos de Parceiros
                    table.table.text-nowrap
                        tbody
                            tr
                                td.col-lg-1.text-center
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                td
                                    .media-heading
                                        letter-icon-title Nome do Parceiro
                                    
                                td.col-lg-1.text-center
                                    a(href='#')
                                        i.icon-cross2
                            tr
                                td.col-lg-1.text-center
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                td
                                    .media-heading
                                        letter-icon-title Nome do Parceiro
                                    
                                td.col-lg-1.text-center
                                    a(href='#')
                                        i.icon-cross2
                            tr
                                td.col-lg-1.text-center
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                td
                                    .media-heading
                                        letter-icon-title Nome do Parceiro
                                    
                                td.col-lg-1.text-center
                                    a(href='#')
                                        i.icon-cross2
                            tr
                                td.col-lg-1.text-center
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                td
                                    .media-heading
                                        letter-icon-title Nome do Parceiro
                                    
                                td.col-lg-1.text-center
                                    a(href='#')
                                        i.icon-cross2