extends ./layout.pug

block title
    title Menu - Cadastro de Aluno

block page-title
    span.text-semibold Menu
    |  - Cadastro de Aluno

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Cadastro de Aluno

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Cadastro de Aluno
                                
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.index') }}/adicionar-aluno")
                            i.icon-import.position-left
                            |  Adicionar Aluno/Fundo
                            
                .panel-heading
                    form.heading-form(action='#')
                        .form-group
                            input.form-control(type='text', placeholder='Search...')
                                
                                
                .table-responsive
                    table.table
                        thead
                            tr
                                th.col-lg-4 Nome
                                th Data de Cadastro
                                th.text-center Instituição
                                th.col-lg-2.text-center Tipo de Recolhimento
                                th.col-lg-2.text-center Fundo
                                th.text-center
                        tbody
                            tr
                                td
                                    a.letter-icon-title(href='#') Nome Parceiro
                                td
                                    span.text-muted.text-size-small 13/02/2017
                                td.text-center
                                    | Estácio
                                td.text-center
                                    .form-group
                                        select.select(data-placeholder='Recolhimento')
                                            option
                                                option(value='AZ', selected='selected') Recolhimento
                                                option(value='CO') Recolhimento
                                td.text-center
                                    .form-group
                                        select.select(data-placeholder='Fundo')
                                            option
                                                option(value='AZ', selected='selected') Fundo
                                                option(value='CO') Fundo
                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-cog7
                                                span.caret
                                            ul.dropdown-menu.dropdown-menu-solid
                                                li.dropdown-header Options
                                                li
                                                    a(href='#')
                                                        i.icon-pencil7
                                                        | Edit entry
                                                li
                                                    a(href='#')
                                                        i.icon-bin
                                                        | Remove entry
                                                li.dropdown-header Export
                                                li
                                                    a(href='#')
                                                        i.icon-file-pdf
                                                        |  Export to .pdf
                                                li
                                                    a(href='#')
                                                        i.icon-file-excel
                                                        |  Export to .csv
                                                li
                                                    a(href='#')
                                                        i.icon-file-word
                                                        |  Export to .doc
                            tr
                                td
                                    a.letter-icon-title(href='#') Nome Parceiro
                                td
                                    span.text-muted.text-size-small 13/02/2017
                                td.text-center
                                    | Estácio
                                td.text-center
                                    .form-group
                                        select.select(data-placeholder='Recolhimento')
                                            option
                                                option(value='AZ', selected='selected') Recolhimento
                                                option(value='CO') Recolhimento
                                td.text-center
                                    .form-group
                                        select.select(data-placeholder='Fundo')
                                            option
                                                option(value='AZ', selected='selected') Fundo
                                                option(value='CO') Fundo
                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-cog7
                                                span.caret
                                            ul.dropdown-menu.dropdown-menu-solid
                                                li.dropdown-header Options
                                                li
                                                    a(href='#')
                                                        i.icon-pencil7
                                                        | Edit entry
                                                li
                                                    a(href='#')
                                                        i.icon-bin
                                                        | Remove entry
                                                li.dropdown-header Export
                                                li
                                                    a(href='#')
                                                        i.icon-file-pdf
                                                        |  Export to .pdf
                                                li
                                                    a(href='#')
                                                        i.icon-file-excel
                                                        |  Export to .csv
                                                li
                                                    a(href='#')
                                                        i.icon-file-word
                                                        |  Export to .doc
