extends ./layout.pug

block title
    title Menu - Financeiro

block page-title
    span.text-semibold Menu
    |  - Financeiro

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Financeiro

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Financeiro
                .heading-elements
                    form.heading-form(action='#')
                        .form-group
                            input.form-control(type='text', placeholder='Search...')
            .panel-heading
                .row
                    .col-lg-2
                        .form-group
                            label.radio-inline.radio-right
                                input.styled(type='radio', name='group-radio', checked='checked')
                                | Por usuários 
                            label.radio-inline.radio-right
                                input.styled(type='radio', name='group-radio')
                                | Por data
                    .col-lg-5
                        .form-group
                            .row
                                .col-md-6
                                    input#range-from.form-control(type='text', placeholder='Da data')
                                .col-md-6
                                    input#range-to.form-control(type='text', placeholder='Até a data')


            .table-responsive
                table.table.text-nowrap
                    thead
                        tr
                            th Mês
                            th Período
                            th Valor Fábio
                            th Valor Usuários
                    tbody
                        tr.active.border-double
                            td(colspan='4') 
                                h6.no-margin.text-semibold.text-warning
                                    | 2017
                        tr
                            td
                                .media-heading
                                    letter-icon-title JANEIRO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title FEVEREIRO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title MARÇO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title ABRIL
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                                    
                        tr.active.border-double
                            td(colspan='4') 
                                h6.no-margin.text-semibold.text-warning
                                    | 2018
                        tr
                            td
                                .media-heading
                                    letter-icon-title JANEIRO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title FEVEREIRO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title MARÇO
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        tr
                            td
                                .media-heading
                                    letter-icon-title ABRIL
                            td
                                span.text-muted.text-size-small 13/02/2017 - 13/03/2017
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                            td
                                h6.text-semibold.no-margin
                                    | R$ 1.231,00
                        