extends ./layout.pug

block title
    title Fábio
    
block page-title
    span.text-semibold Home
    |  - Dashboard
    
block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")    

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li.active Dashboard

block content
    .row
        .col-lg-8
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Registros
                    .heading-elements
                        form.heading-form(action='#')
                            .form-group
                                input.form-control(type='text', placeholder='Search...')
                .table-responsive
                    table.table.text-nowrap
                        thead
                            tr
                                th.col-lg-4 Nome Aluno
                                th Parceiro
                                th Data/Hora
                                th Localização
                                th Bloquear
                        tbody
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td.text-muted.text-size-small
                                    | Nome do Parceiro
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | CORRETA
                                td
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-lock2
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td.text-muted.text-size-small
                                    | Nome do Parceiro
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | CORRETA
                                td
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-lock2
                                        
                            
        .col-lg-4
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Financeiro
                .panel-body
                    .panel.bg-blue-400
                        .panel-heading
                            h6.panel-title Valores...

                        .panel-body
                            .heading-elements
                                ul.icons-list
                                    li
                                        a(data-action='reload')
                            h3.no-margin R$ 1.232,00
                            | Fevereiro
                            .text-muted.text-size-small Vencimento 05/02/2017

                    .panel.bg-teal-400
                        .panel-heading
                            h6.panel-title Valores...

                        .panel-body
                            .heading-elements
                                ul.icons-list
                                    li
                                        a(data-action='reload')
                            h3.no-margin R$ 1.232,00
                            | Fevereiro
                            .text-muted.text-size-small Vencimento 05/02/2017