extends ./layout.pug

block title
    title Menu - Mensagens

block page-title
    span.text-semibold Menu
    |  - Mensagens

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Mensagens

block content
    // My messages
    .panel.panel-flat
        .panel-heading
            h6.panel-title Mensagens
            .heading-elements
                form.heading-form(action='#')
                    .form-group
                        input.form-control(type='text', placeholder='Search...')
        .panel-heading
            .row
                .col-lg-3
                    .form-group
                        label Inicar conversa com:
                        .input-group
                            input.form-control(type='text', value='Inicar conversa com')
                            .input-group-btn
                                button.btn.btn-default(type='button') Iniciar Conversa
            
       
        // Tabs content
        .panel-body
            ul.media-list
                li.media
                    .media-left
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                        span.badge.bg-danger-400.media-badge 8
                    .media-body
                        a(href='#', data-toggle='modal', data-target='#modal_default')
                            | James Alexander
                            span.media-annotation.pull-right 14:58
                        span.display-block.text-muted The constitutionally inventoried precariously...
                li.media
                    .media-left
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                        span.badge.bg-danger-400.media-badge 6
                    .media-body
                        a(href='#')
                            | Margo Baker
                            span.media-annotation.pull-right 12:16
                        span.display-block.text-muted Pinched a well more moral chose goodness...
                li.media
                    .media-left
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                    .media-body
                        a(href='#')
                            | Jeremy Victorino
                            span.media-annotation.pull-right 09:48
                        span.display-block.text-muted Pert thickly mischievous clung frowned well...
                li.media
                    .media-left
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                    .media-body
                        a(href='#')
                            | Beatrix Diaz
                            span.media-annotation.pull-right 05:54
                        span.display-block.text-muted Nightingale taped hello bucolic fussily cardinal...
                li.media
                    .media-left
                        img.img-circle.img-xs(src='assets/images/placeholder.jpg', alt='')
                    .media-body
                        a(href='#')
                            | Richard Vango
                            span.media-annotation.pull-right 01:43
                        span.display-block.text-muted Amidst roadrunner distantly pompously where...
                        
                        
                        
                        
    // Basic modal
    #modal_default.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title James Alexander
                    
                    
                .modal-body
                    .panel-body
                        ul.media-list.content-group-lg.stack-media-on-mobile
                            li.media
                                .media-left
                                    a(href='#')
                                        img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                                .media-body
                                    .media-heading
                                        a.text-semibold(href='#') William Jennings
                                        span.media-annotation.dotted Just now
                                    p
                                        | He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.
                                        
                            li.media
                                .media-body
                                    .media-heading.text-right
                                        a.text-semibold(href='#') William Jennings
                                        span.media-annotation.dotted Just now
                                    p
                                        | He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.
                                .media-right
                                    a(href='#')
                                        img.img-circle.img-sm(src='assets/images/placeholder.jpg', alt='')
                                    
                    
                       
                        .content-group
                            textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                            
                        .checkbox
                            label
                                input(type='checkbox', checked='checked')
                                | Marcar como não lida
                            
                        .text-right
                            button.btn.bg-blue(type='button')
                                i.icon-plus22
                                |  Add comment

