extends ./layout.pug

block title
    title Menu - Registro de Visitas

block page-title
    span.text-semibold Menu
    |  - Registro de Visitas

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Registro de Visitas

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Registros
                    .heading-elements
                        form.heading-form(action='#')
                            .form-group
                                input.form-control(type='text', placeholder='Search...')
                .panel-heading
                    .row
                        .col-lg-4
                            .form-group
                                .row
                                    .col-md-6
                                        input#range-from.form-control(type='text', placeholder='Da data')
                                    .col-md-6
                                        input#range-to.form-control(type='text', placeholder='Até a data')
                                
                .table-responsive
                    table.table
                        thead
                            tr
                                th.col-lg-4 Nome
                                th Data/Hora
                                th.text-center Localização
                                th.text-center Bloquear
                        tbody
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | CORRETA
                                td.text-center
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-lock2
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | CORRETA
                                td.text-center
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-lock2