extends ./layout.pug

block title
    title Menu - Retiradas

block page-title
    span.text-semibold Menu
    |  - Retiradas

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Retiradas

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Retiradas
                    
                
                .panel-body
                    .row
                        .col-lg-4
                            .panel.text-center
                                
                                .page-header-content.bg-teal
                                    .page-title
                                        h4
                                            small.display-block
                                                | ALUNOS
                                            | MENSALIDADE
                                            
                                .panel-body
                                    .row.content-group-sm
                                        .col-lg-6
                                            h6
                                                | Última retirada
                                                small.display-block
                                                    | 22/05/2016
                                        .col-lg-6
                                            h6
                                                | Valor acumulado
                                                small.display-block
                                                    | R$ 22.000,00
                                            
                                    button.btn.bg-teal.text-semibold(type='button')
                                        i.icon-safe.position-left
                                        | Fazer Retirada
                                        
                        .col-lg-4
                            .panel.text-center
                                
                                .page-header-content.bg-purple
                                    .page-title
                                        h4
                                            small.display-block
                                                | ALUNOS
                                            | FUNDO COMUM
                                            
                                .panel-body
                                    .row.content-group-sm
                                        .col-lg-6
                                            h6
                                                | Última retirada
                                                small.display-block
                                                    | 22/05/2016
                                        .col-lg-6
                                            h6
                                                | Valor acumulado
                                                small.display-block
                                                    | R$ 22.000,00
                                            
                                    button.btn.bg-purple.text-semibold(type='button')
                                        i.icon-safe.position-left
                                        | Fazer Retirada
                                        
                        .col-lg-4
                            .panel.text-center
                                
                                .page-header-content.bg-primary
                                    .page-title
                                        h4
                                            small.display-block
                                                | ALUNOS
                                            | FUNDO INDIVIDUAL
                                            
                                .panel-body
                                    .row.content-group-sm
                                        .col-lg-6
                                            h6
                                                | Última retirada
                                                small.display-block
                                                    | 22/05/2016
                                        .col-lg-6
                                            h6
                                                | Valor acumulado
                                                small.display-block
                                                    | R$ 22.000,00
                                            
                                    button.btn.bg-primary.text-semibold(type='button')
                                        i.icon-safe.position-left
                                        | Fazer Retirada

                                    
                                        
                                    