extends ./layout.pug

block title
    title Menu - Retirada

block page-title
    span.text-semibold Menu
    |  - Retirada

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Retirada

block content
    .row
        .col-lg-12
            .panel.panel-body
                .panel-heading
                    h6.panel-title Retirada
                                
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.index') }}/imprimir")
                            i.icon-printer2.position-left
                            |  Imprimir
                            
                
                                
                                
                .table-responsive
                    table.table
                        thead
                            tr
                                th.col-lg-1
                                th.col-lg-3 Identificação
                                th Valor
                                th Fundo
                                th Status
                        tbody
                            tr
                                td.text-center
                                    .checkbox
                                        label
                                            input(type='checkbox', checked='checked')
                                    
                                td
                                    a.letter-icon-title(href='#') Nome
                                td
                                    span.text-muted.text-size-small R$ 25,00
                                td
                                    | Nome do Fundo
                                td
                                    span.label.bg-success.heading-text
                                        | Ativo
                                        
                            tr
                                td.text-center
                                    .checkbox
                                        label
                                            input(type='checkbox', checked='checked')
                                    
                                td
                                    a.letter-icon-title(href='#') Nome
                                td
                                    span.text-muted.text-size-small R$ 25,00
                                td
                                    | Nome do Fundo
                                td
                                    span.label.bg-success.heading-text
                                        | Ativo
                                        
                            tr
                                td.text-center
                                    .checkbox
                                        label
                                            input(type='checkbox', checked='checked')
                                    
                                td
                                    a.letter-icon-title(href='#') Nome
                                td
                                    span.text-muted.text-size-small R$ 25,00
                                td
                                    | Nome do Fundo
                                td
                                    span.label.bg-success.heading-text
                                        | Ativo
                                        
                            tr
                                td.text-center
                                    .checkbox
                                        label
                                            input(type='checkbox', checked='checked')
                                    
                                td
                                    a.letter-icon-title(href='#') Nome
                                td
                                    span.text-muted.text-size-small R$ 25,00
                                td
                                    | Nome do Fundo
                                td
                                    span.label.bg-success.heading-text
                                        | Ativo
                                        
                .text-center
                    button.btn.bg-danger.text-semibold.btn-xlg(type='button')
                        i.icon-square-up.position-left
                        | Fazer Retirada