extends ./layout.pug

block title
    title Menu - Transações

block page-title
    span.text-semibold Menu
    |  - Transações

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Transações

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Transações
                    .heading-elements
                        form.heading-form(action='#')
                            .form-group
                                input.form-control(type='text', placeholder='Search...')
                .panel-heading
                    .row
                        .col-lg-2
                            .form-group
                                    select.select(data-placeholder='Filtrar por:')
                                        option
                                            option(value='AZ', selected='selected') Data
                                            option(value='CO') Instituição
                        .col-lg-4
                            .form-group
                                .row
                                    .col-md-6
                                        input#range-from.form-control(type='text', placeholder='Da data')
                                    .col-md-6
                                        input#range-to.form-control(type='text', placeholder='Até a data')
                                
                .table-responsive
                    table.table
                        thead
                            tr
                                th.col-lg-4 Nome
                                th Data/Hora
                                th.text-center Descrição
                                th.text-center Valor
                                th
                        tbody
                            tr.active.border-double
                                td(colspan='4') 
                                    h6.no-margin.text-semibold.text-warning
                                        | 17/02/2017
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Maiz 1
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | Fundo Comum
                                td.text-center
                                    | R$ 22.000,00
                                td.text-center
                                    ul.icons-list
                                        li
                                            a(href='#')
                                                i.icon-printer2
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | Nome do Parceiro
                                td.text-center
                                    | R$ 120,00
                                td
                                    
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | Nome do Parceiro
                                td.text-center
                                    | R$ 120,00
                                td
                                
                            tr.active.border-double
                                td(colspan='4') 
                                    h6.no-margin.text-semibold.text-warning
                                        | 16/02/2017
                                    
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-center
                                    h6.text-semibold.no-margin
                                        span.label.bg-success.heading-text
                                            | Nome do Parceiro
                                td.text-center
                                    | R$ 120,00
                                td