extends ./layout.pug

block title
    title Menu - Usuários Bloqueados

block page-title
    span.text-semibold Menu
    |  - Usuários Bloqueados

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Menu
    li.active Usuários Bloqueados

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Usuários Bloqueados
                    .heading-elements
                        form.heading-form(action='#')
                            .form-group
                                input.form-control(type='text', placeholder='Search...')
                .table-responsive
                    table.table
                        thead
                            tr
                                th.col-lg-3 Nome
                                th.col-lg-2 Data do bloqueio
                                th Motivo
                                th Desbloquear
                        tbody
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-muted.text-size-small
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                td.text-center
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-unlocked
                            tr
                                td
                                    .media-left.media-middle
                                        img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                    .media-body.media-middle
                                        .media-heading
                                            a.letter-icon-title(href='#') Nome Estudante
                                td
                                    span.text-muted.text-size-small 13/02/2017 - 16:23h
                                td.text-muted.text-size-small
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                td.text-center
                                    a.btn.border-indigo-400.text-indigo-400.btn-flat.btn-rounded.btn-xs.btn-icon(href='#')
                                        i.icon-unlocked