/* Arquivo de customização do css, para esse projeto específico */
ul.select2-result-sub > li.select2-results-dept-1.select2-result.cat3 {
    padding-left: 15px;
}

ul.select2-result-sub > li.cat2 > div.select2-result-label {
    text-transform: uppercase;
}

.table-calculadora input {
    color: #2196f3;
    font-weight: bold;
}

.total-gasto input {
    color: red;
    font-weight: bold;
    border-color: red;
}

.total-lucro input {
    color: green;
    font-weight: bold;
    border-color: green;
}

.total-calculadora {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

#table-azul td {
    background: #e7f3fe;
}

#table-azul th, #table-azul tfoot td {
    background: #d3e9fc;
}

#table-verde td {
    background: #e7fee7;
}
#table-verde .btnMinus{
    color: #f44336;
    opacity: 0.1;
}
#table-verde .btnPlus{
    color: #2196f3;
}
.size{
    margin-top: 20px;
}
#table-verde tbody tr:hover .btnMinus{
    opacity: 1;
}

#table-verde th, #table-verde tfoot td {
    background: #d6fcd3;
}

#table-vermelho td {
    background: #fee7e7;
}

#table-vermelho th, #table-vermelho tfoot td {
    background: #ffdada;
}

.espaco td {
    background: #fff !important;
}

.box-total {
    position: fixed;
    top: 50px;
    right: 5px;
    padding: 0;

    border-radius: 5px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.box-total .alert-success{
    color: #fff;
    background-color: #4caf50;
    border: 1px solid #1c7f20;
}

.box-total p {
    margin: 0;
}

.box-total p span:first-child {
    width: 75px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
}

.box-total p span:last-child {
    margin-left: 10px;
}

.input-group[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.botao-salvar {
    margin-top: 40px;
}

#widthCust {
    width: 50%;
}


@media (min-width: 768px) {
    .zero-margin-left{
        padding-left: 0;
    }
    .zero-margin-right{
        padding-right: 0;
    }
    .zero-margin-right input{
        border-radius: 3px 0 0 3px;
        border-right: 0;
    }
    .zero-margin-left .select2-choice{
        border-radius: 0 3px 3px 0;
    }
}
@media (max-width: 700px) {
    .box-total {
        display: none;
    }
}