.color-pp{
    background: #c6d9f0;
    border-color: #c6d9f0;
}

.color-p{
    background: #e5b8b7;
    border-color: #e5b8b7;
}

.color-m{
    background: #ccffcc;
    border-color: #ccffcc;
}

.color-g{
    background: #fde9d9;
    border-color: #fde9d9;
}

.color-gg{
    background: #bfbfbf;
    border-color: #bfbfbf;
}

.color-3g{
    background: #8db3e2;
    border-color: #8db3e2;
}

.color-4g{
    background: #d8d8d8;
    border-color: #d8d8d8;
}

.color-5g{
    background: #d6e3bc;
    border-color: #d6e3bc;
}
.width-350{
    min-width: 350px !important;
}
